[Desktop Entry]
Icon=cs-themes
Exec=feren-theme-loader
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Load a Saved Layout
Comment=The tool you've all been waiting for, a Themer-theme-like Saver and Loader, is here!
Keywords=panel;theme;themer;feren;loader;
